/* ===============================================
CSS styles
--------------------------------------------------
Autor: Igor Šátek
--------------------------------------------------
Version: 1.1
================================================ */


html {
    box-sizing: border-box;
    font-size: 64%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    background-image: url("/img/APPS/BG_IMG2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
}

.mainContainer {
    padding: 5px;
    width: calc(100% - 10px);
    height: 100%;
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
}   

.mainContainer h2 {
    margin-top: 20px;
    color: whitesmoke;
    background-image: linear-gradient( 60deg, rgba(243, 73, 6, 0.849), rgba(243, 73, 6, 0.849) );
    display: inline-block;
    padding: 30px 20px;
    z-index: 1000px;
    border-radius: 3px;
}
.titleWrapper {
    height: 90px;
    width: 400px;
    border-radius: 4px;
    text-align: center;
    position: absolute;
    top: 5%;
    z-index: 2;
    

}
.calculatorContainer {
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    position: relative;
    margin-top: 120px;
    padding-top: 210px;
    min-width: 350px;
    max-width: 500px;
    margin-bottom: 15px;
    border: 1px solid rgba(128, 128, 128, 0.253);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
#calculatorLeftSide {
    position: absolute;
    top: 14%;
    transform: translateX(-105%);
}
#calculatorRightSide {
    position: absolute;
    top: 14%;
    transform: translateX(10%);
}
input[type="radio"] {
    margin-right: 5px;
}
input[type="radio"]::before {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: 2px solid rgba(243, 73, 6, 0.658);
  background-color: #fff;
  display: block;
  content: "";
  float: left;
  margin-right: 8px;
}
input[type="radio"]:checked::before {
  box-shadow: inset 0px 0px 0px 3px #fff;
  background-color: rgba(243, 73, 6, 0.658);
}
#calculatorRightSide input {
    padding: 7px;
    margin-bottom: 8px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.397);
    color: white;
    text-align: center;
}

#calculatorRightSide input::-webkit-input-placeholder {
    color: white;
    text-align: center;
    padding: 3px;
}

#calculatorRightSide input::-moz-placeholder {
    color: white;
    text-align: center;
    padding: 3px;
}

#calculatorRightSide input:-ms-input-placeholder {
    color: white;
    text-align: center;
    padding: 3px;
}

#calculatorRightSide input::-ms-input-placeholder {
    color: white;
    text-align: center;
    padding: 3px;
}

#calculatorRightSide input::placeholder {
    color: white;
    text-align: center;
    padding: 3px;
}

.btn {
    padding: 7px;
    border: 2px solid grey;
    border-radius: 4px;
    background-color: grey;
    color: white;
    width: 186px;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.btn:hover,
.btn:focus {
    background-color: rgba(243, 73, 6, 0.658);
    border-color: rgba(243, 73, 6, 0.658);
}

.btn:active {
    background-color: rgba(243, 73, 6, 0.863);
    border-color: rgba(243, 73, 6, 0.95);
}

#calculatorOutput {
    display: inline-block;
    margin: 20px auto;
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 5px
}

#calculatorOutput img {
    position: relative;
    width: calc((350px - 10.24px) / 4);
    height: auto;
    margin: 0;
    padding: 0;
    letter-spacing: 0px;
}
#calculatorOutput img.active {
    transform: scale(1.12);
    overflow: visible;
    z-index: 10;
}
#bmrOutputWraper {
    position: relative;
    width: 100%;
    color: whitesmoke;
    -webkit-transition: height 2s;
    transition: height 2s;
    height: auto;
    text-align: center;
}
#bmrOutputWraper.orangeBG {
    background-image: linear-gradient( 60deg, rgba(243, 73, 6, 0.849), rgba(243, 73, 6, 0.849) );
} 
.inlineBoxChoice {
    display: inline;
    color: whitesmoke;
}

.chcesSchudnut,
.chcesPribrat {
    text-align: center;
    font-size: 1.8rem;
    display: inline-block;
    width: 200px;
}

.chcesSchudnut h3,
.chcesPribrat h3 {
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: black;
    background-color: rgba(255,255,255, 0.8);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

div.chcesSchudnut.selected h3 {
    color: rgb(243, 73, 6);
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 1000;
}

div.chcesPribrat.selected h3{
    color: rgb(243, 73, 6);
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 1000;
}

.choiceContainer {
    position: relative;
    max-width: 1000px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.253);
    border-radius: 4px;
    background-color: rgba(255,255,255, 0.80);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-top: none;
}
.choiceContainer h2 {
    color: whitesmoke
}
.choiceContainer h3 {
    text-decoration: underline;
}

.choiceContainer p {
    font-size: 1.9rem;
}

.row.chudnutie,
.row.priberanie {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    opacity: 0;
    overflow: visible;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}

.row.chudnutie.displayed,
.row.priberanie.displayed {
    visibility: visible;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.footer {
    text-align: center;

}
.footer span  {
    font-family: "segoe script", sans-serif;
}
@media only screen and (max-width: 320px) {
    /*iPhone 5/SE*/
    .mainContainer h2 {
        font-size: 1.9rem;
    }
    .calculatorContainer {
        margin-top: 90px;
        padding-top: 450px;
        width: 100%;
    }
    #calculatorLeftSide {
        top: 14%;
        transform: translateX(-42%);
        width: 70%;
    }
    #calculatorRightSide {
        top: 37%;
        transform: translateX(-50%);
    }
    #calculatorOutput {
        text-align: center;
    }
}
@media only screen and (max-width: 414px) {
    /*iPhone X*/

    .mainContainer h2 {
        font-size: 2.5rem;
        width: 100%;
        margin-top: 0;
        padding-right: 0;
        padding-left: 0;
    }
    .titleWrapper {
        height: 90px;
        top: 0%;
    }
    .calculatorContainer {
        margin-top: 30px;
        padding-top: 550px;
        width: 100%;
    }
    #calculatorLeftSide {
        top: 8%;
        transform: translateX(-48%);
        width: 85%;
        font-size: 2.8rem;
    }
    #calculatorRightSide {
        top: 34%;
        transform: translateX(-48%);
    }
    #calculatorOutput {
        text-align: center;
    }
    #calculatorRightSide input {
        width: 280px;
        height: 25px;
        font-size: 2rem;
    }
    .btn {
        width: 296px;
        height: 43px;
        font-size: 2rem;
    }
}
@media only screen and (max-width: 360px) {
    /*Galaxy S5*/
    .mainContainer h2 {
        font-size: 2.5rem;
    }
    .calculatorContainer {
        margin-top: 90px;
        padding-top: 480px;
        width: 100%;
    }
    #calculatorLeftSide {
        top: 4%;
        transform: translateX(-48%);
        width: 70%;
        font-size: 2.2rem;
    }
    #calculatorRightSide {
        top: 32%;
        transform: translateX(-48%);
    }
    #calculatorOutput {
        text-align: center;
    }
    #calculatorRightSide input {
        width: 230px;
        height: 20px;
    }
    .btn {
        width: 246px;
        height: 40px;
    }
}
